.contact_main {
  padding: 50px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact_wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 50px;
}
.contact_detail {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-gap: 50px;
}
/* .contact_side_image {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */
.email .left img {
  border-radius: 10px;
}
.phone .left img {
  border-radius: 10px;
}

.contact_point{
   /* display: flex; */
  font-size: 30px;
  /* margin: 10px; */
  margin: 0 auto;

}
.contact_detail div a {
  text-decoration: none;
  color: #551a8b;
}

/* img {
  height: 400px;
  width: 400px;
  object-fit: contain;
} */
.contact_image{
  width: 100%;
  height: 100%;
  object-fit: contain;
}



@media screen and (min-width: 480px) and (max-width: 1100px) {
  .contact_wrapper{
    grid-template-columns: 1fr;
  }
  .contact_detail{
    grid-template-columns: 1fr 1fr;

  }
  .contact_main{
    height: auto;
  }
  
}




@media screen and (max-width:468px){
  .contact_detail{
    grid-template-columns: 1fr;

  }
  .contact_wrapper{
    grid-template-columns: 1fr;

  } 
  .contact_main{
    height:auto;
  }
  
}
  

/* @media screen and (max-width: 468px) {
  img {
    height: auto;
    width: 300px;
    object-fit: contain;
  }
  .contact_main {
    height: auto;
  }
  .contact_main {
    margin-top: 10px;
  }
  .contact_detail {
    margin-top: 20px;
    flex: 1;
    order: 2;
  }

  .column_left h1 {
    font-size: 32px;
  }
  .contact_wrapper {
    flex-wrap: wrap-reverse;
  }
} */
